.mini-player-box {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 16px;
}

.mini-player-box-light {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.album-art-box {
  padding: 10px;
  height: 180px;
  width: 180px;
}

.media-control-box {
  margin-bottom: 8px;
}

.media-control-button {
  color: rgba(255, 255, 255, 1);
}

.icon {
  padding-left: 10px;
  padding-right: 10px;
}

.icon:hover {
  border-radius: 32px;
  background-color: rgba(255, 255, 255, 0.1);
}
